/*style the body*/
body {
    background-color: #363333;
}
/* style the text and pfp*/
h1, h2, ul, p {
    color: white;
    font-family: "Roboto", sans-serif
}

.pfp {
    border-radius: 7px;
}
/*div styling*/
.container-pfp {
    margin: 30px -10px 500px;
    background-color: rgb(133, 122, 122);
}

.container-pfp-inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.container-info {
    margin: -10px;
    background-color: rgb(133, 122, 122);
    box-shadow: 5px 5px 5px black;
}

.container-info-inside {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}
/*navbar styling*/
ul {
    list-style: none;
    overflow: hidden;
    margin: -10px;
    background-color: rgb(133, 122, 122);
    box-shadow: 1px 1px 5px black;
}

li {
    float: left;
}

li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    transition: 0.2s;
}

li a:hover{
    background-color:black;
    transform: scale(1.1);
}

hr{
    border: 1px white solid;
}